<div class="c10"></div>
        <div class="boxmenufooter">
        	<div class="box">
            	<div class="col">
                <!-- START BLOCK : col1 -->
                	<div class="title"><a href="{link}">{name}</a></div>
                    <ul>
                    <!-- START BLOCK : submenu1 -->
                    	<li><a href="{link1}">{name1}</a></li>
                    <!-- END BLOCK : submenu1 -->    
                    </ul>
                    <div class="c5"></div>
                 <!-- END BLOCK : col1 -->    
                </div>
                <div class="col">
                <!-- START BLOCK : col2 -->
                	<div class="title"><a href="{link}">{name}</a></div>
                    <ul>
                    	<!-- START BLOCK : submenu2 -->
                    		<li><a href="{link1}">{name1}</a></li>
                    	<!-- END BLOCK : submenu2 -->   
                    </ul>
                    <div class="c5"></div>
                 <!-- END BLOCK : col2 -->
                </div>
                
                <div class="col">
                 <!-- START BLOCK : col3 -->
                	<div class="title"><a href="{link}">{name}</a></div>
                    <ul>
                    	<!-- START BLOCK : submenu3 -->
                    	<li><a href="{link1}">{name1}</a></li>
                    <!-- END BLOCK : submenu3 -->   
                    </ul>
                    <div class="c5"></div>
                  <!-- END BLOCK : col3 -->   
                </div>
                <div class="col">
                	<div class="title"><a href="#">Thống kê truy cập</a></div>
                    <div align="center">
                    	<!-- Histats.com  START  (standard)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="stats counter" ><script  type="text/javascript" >
try {Histats.start(1,2455380,4,1034,150,25,"00011111");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2455380&101" alt="stats counter" border="0"></a></noscript>
<!-- Histats.com  END  --><strong></strong>
                    </div>
                </div>
                <div class="c"></div>
            </div>
        </div>
        <div><div style="padding:5px">{textfooter}</div></div>
    </div>
</div>

<script>
	$(function(){
		$('#countcart').text('({quantity})');
	});
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 986598116;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/986598116/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5268d4ee28fc4bf0"></script>
<script type="text/javascript">var subiz_account_id = "1655";(function() { var sbz = document.createElement("script"); sbz.type = "text/javascript"; sbz.async = true; sbz.src = ("https:" == document.location.protocol ? "https://" : "http://") + "widget.subiz.com/static/js/loader.js?v="+ (new Date()).getFullYear() + ("0" + ((new Date()).getMonth() + 1)).slice(-2) + ("0" + (new Date()).getDate()).slice(-2); var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sbz, s);})();</script>
</body>
</html>