
        </div>
        <!-- end right -->
        <div id="homeleft">
        	<!-- START BLOCK : infoHome -->
        	<div class="boxabouthome">
    	        <a href="{link_detail}">{image}</a><{htags} class="headerhome"><a href="{link_detail}">{name}</a></{htags}>
	            <div>{content}</div>
                <div class="c"></div>
            </div>
            <div class="c5"></div>
            <!-- END BLOCK : infoHome -->
            <!-- START BLOCK : productHome -->
            <div class="boxbordergray">
            	<div class="titleboxhome">
                	<h2 class="titletext"><a href="{link}">{name}</a></h2>
                    <div class="viewmore"><a href="{link}">Xem thêm</a></div>
                </div>
                <div class="c"></div>
                <div>
                <!-- START BLOCK : cell -->
                	<div class="cellProHome {borderrightnone}">
                    	<div class="image">
                        	<a href="{link_detail}">{image}</a>
                        </div>
                        <div class="productName"><a href="{link_detail}">{name}</a></div>
                        <div class="price">{price}</div>
                        
                    </div>
                <!-- END BLOCK : cell -->
                    <div class="c"></div>
                </div>
            </div>
            <div class="c5"></div>
            <!-- END BLOCK : productHome -->
            
        </div>
        <!-- end left home -->
        <div id="homeright">
        	<!-- START BLOCK : homeright -->
        	<!-- START BLOCK : logoleft -->
		    	<!-- START BLOCK : logonotitle -->
		    	<!-- START BLOCK : list_logo_no_title -->
		    	<div align="center">{image}</div>
                <div class="c5"></div>
		        <!-- END BLOCK : list_logo_no_title -->
		        <!-- END BLOCK : logonotitle -->
		        <!-- START BLOCK : logotitle -->
		        <div class="titlered">Hệ thống khách hàng</div>
		         <div class="c2"></div>
		      	<div class="bodergray">
		        	<!-- START BLOCK : list_logo_title -->
		        	<div align="center">{image}</div>
                    <div class="c5"></div>
		            <!-- END BLOCK : list_logo_title -->
		        </div>
		        <!-- END BLOCK : logotitle -->
		        <div class="c5"></div>
		     <!-- END BLOCK : logoleft -->
             <!-- START BLOCK : newsleft -->
			    
			    <div class="menuleft">
				    <div class="title" align="center"><a href="{link}">{catname}</a></div>
		            <div style="padding:5px">
				    <!-- START BLOCK : newslist -->
				    <div class="newsleft"><a href="{link_detail}">{newsname}</a></div>
				    <!-- END BLOCK : newslist -->
		            </div>
			    </div>
			    <div class="c10"></div>
		    <!-- END BLOCK : newsleft -->
            <!-- END BLOCK : homeright -->
        </div>
        <!-- end right home -->