<div id="leftcol" class="fl">
  <div class="titlebox">
    <div>
      <h2>{catname}</h2>
    </div>
  </div>
  <div class="c"></div>
  <div class="borderboxgray" style="padding:10px;">
    <div class="crumb"><a href="{dir_path}/">Trang chủ</a> / {pathpage}</div>
    <div class="c5"></div>
    <div class="pageparentcontent"> 
      
      <!-- START BLOCK : listanswer -->
      
      <h2  class="toggle newsnameblack" id="{id}"> ► {name} </h2>
      <div class="content faqcontent" id="faq_{id}">
        <div class="c5"></div>
        {content}
        <div class="c10"></div>
      </div>
      <div class="c5"></div>
      
      <!-- END BLOCK : listanswer --> 
      
    </div>
    <div class="c5"></div>
    <div class="linegray"></div>
    <div class="paging"> {pages} </div>
  </div>
</div>
