<div class="col-9-12" >
    <div class="box-border padding10">
    	<!-- START BLOCK : info -->
         <h2 class="title-cat">{name}</h2>
         <div class="c15"></div>
    	<div class="content-detail">{content}</div>
        <div class="c20"></div>
        <div class="line-gray"></div>
        <Div class="c20"></Div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a> 
                <a class="addthis_counter addthis_pill_style"></a>

        </div>
        
        <!-- AddThis Button END -->
        <div class="c10"></div>
        <!-- END BLOCK : info -->
        <!-- START BLOCK : otherarticle --> 
        <div style="font-weight:bold; color:#FF0000">Các bài viết khác</div>
        <div class="c5"></div>
        <ul class="other-article">
        	<!-- START BLOCK : otherarticle_item -->
        	<li><a href="{link_detail}"><i class="fa fa-angle-double-right"></i>{name}</a></li>
            <!-- END BLOCK : otherarticle_item -->
        </ul>
        <!-- END BLOCK : otherarticle -->
    </div>
    <div class="c10"></div>
</div>