<div class="col-3-12">
    	{menuright}
        <!-- START BLOCK : right -->
		<!-- START BLOCK : support_blk -->
        <div class="c20"></div>
        <div class="title-box">
        	<div class="title-box-2">{catname}</div>
        </div>
        <div class="border-box-right" style="border-top:none; margin-top:0px; border-bottom:none;">
        <!-- START BLOCK : support_item -->
        	<div class="hotro_tructuyen">
            	<a class="" style="margin-right:5px; float:left" href="skype:{sky}?chat" title="Call - Hỗ trợ trực tuyến"><img src="http://mystatus.skype.com/smallicon/{sky}" border="0"></a><a  href="ymsgr:sendim?{nic}"><img src='http://opi.yahoo.com/online?u={nic}&m=g&t=1' style="margin-right:10px; float:left"/>{name}</a>
            </div>
            <div class="c5"></div>
        
            
         <!-- END BLOCK : support_item -->        
            <div class="c"></div>
        </div>
        <div class="hotline-right"><i class="fa fa-phone" style="font-size:20px"></i> {hotlinesupport}</div>
        <div class="address-right">
        	<div><i class="fa fa-home"></i> {addresssupport}</div>
        </div>
        <!-- END BLOCK : support_blk --> 
        <!-- START BLOCK : advRight -->
        <div class="c15 hide-on-mobile"></div>
        <div class="c5"></div>
        <div class="hide-on-mobile">{image}</div>
        <!-- END BLOCK : advRight --> 
        <!-- START BLOCK : news -->
        <div class="c20"></div>
        <div class="title-box">
        	<div class="title-box-2"><a href="{link}">{catname}</a></div>
        </div>
        <div class="border-box-right">
        	<!-- START BLOCK : itemnews -->
            <div class="item-news-left"><a href="{link_detail}"><i class="fa fa-angle-double-right"></i>{newsname}</a></div>
            <!-- END BLOCK : itemnews --> 
           
        </div>
        <!-- END BLOCK : news --> 
        <!-- START BLOCK : video --> 
        <div class="c20"></div>
        <div class="title-box">
        	<h2 class="title-box-2"><a href="{link}">{catname}</a></h2>
        </div>
        <div class="border-box-right" style="border-top:none; ">
        	<div class="videoright"><a href="{link_detail}"><i class="fa fa-play"></i>{image}</a></div>
            <div class="c5"></div>
            <h3 class="news-name" align="center"><a href="{link_detail}">{name}</a></h3>
        </div>
        <!-- END BLOCK : video --> 
        <!-- START BLOCK : product -->
        <div class="c20"></div>
        <div class="title-box">
        	<div class="title-box-2"><a href="{link}">{catname}</a></div>
        </div>
        <div class="border-box-right">
        </div>
        <!-- END BLOCK : product --> 
        <!-- END BLOCK : right -->
        
    
        
    </div>