<div class="col-9-12" style="padding-right:0px;">
	<!-- START BLOCK : newsCat -->	
	<div class="col-1-1">
        <h2 class="title-cat">{cat_name}</h2>
        <div class="c20"></div>
        <div>{cat_content}</div>
    </div>
	
    <!-- START BLOCK : news_list -->
	<div class="col-1-2 mobile-100" style="padding-right:0px;">
    	<div class="col-5-12"><a href="{link_detail}">{image}</a></div>
        <div class="col-7-12">
        <h2 class="news-name"><a href="{link_detail}">{name}</a></h2>
        {createdate}
        <div class="intro-service" style="padding-top:5px;" align="justify">{intro}</div>
        </div>
    </div>{pc_break}
    <!-- END BLOCK : news_list --> 
    <div class="c10"></div>
    <div class="paging">{pages}</div>
    <!-- END BLOCK : newsCat -->
    <!-- START BLOCK : newsDetail --> 
    <div class="col-1-1">
    	<h2 class="title-cat">{cat_name}</h2>
        <div class="c20"></div>
    	<h1 class="news-name-detail">{name}</h1>
        {createdate}
        <h2 class="intro-detail">{intro}</h2>
        <div class="content-detail">{content}</div>
        <div class="c10"></div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a> 
                <a class="addthis_counter addthis_pill_style"></a>

        </div>
        
        <!-- AddThis Button END -->
        <div class="c10"></div>
        <div style="border-bottom:solid 1px #CCC; line-height:25px;">
        	<strong>Bài viết khác:</strong>
        </div>
        <div class="c5"></div>
        <ul class="other-article">
        	<!-- START BLOCK : newsest -->
        	<li><a href="{link_detail}"><i class="fa fa-angle-double-right"></i>{name}</a></li>
            <!-- END BLOCK : newsest --> 
        	<!-- START BLOCK : newsold_list -->
        	<li><a href="{link_detail}"><i class="fa fa-angle-double-right"></i>{name}</a></li>
            <!-- END BLOCK : newsold_list --> 
        </ul>
    </div>
    <!-- END BLOCK : newsDetail --> 
	<div class="c10"></div>
</div>