<div class="col-9-12"  style="padding-right:0px;">
    <!-- START BLOCK : proCat -->
    <div class="padding-right-20"><h1 class="title-cat">{catname}</h1>
        <div class="c10"></div>
        <div>{catcontent}</div>
    </div>
    <!-- START BLOCK : products -->
    <div class="col-1-4 mobile-col-1-4">
        <div class="image-pro-cell">
            {km}
            <div class="view-now">
                <a href="{link_detail}" class=""><i class="fa fa-shopping-cart fa-2x"></i> Xem ngay</a>
            </div>
            <a href="{link_detail}" >{image}</a>
        </div>
        <h3 class="name-pro-cell"><a href="{link_detail}">{name}</a></h3>
        <div class="c5"></div>
        <div ><strong><s>{pricekm}</s></strong></div>
        <div class="price">{price}</div>
        <div class="intro-pro-cell">
            {ttkhuyenmai}
        </div>
    </div>{pc_break_50}{pc_break_30}{pc_break}
    <!-- END BLOCK : products --> 
    <div class="c10"></div>
    <div class="paging">{pages}</div>
    <!-- END BLOCK : proCat --> 
    <!-- START BLOCK : proDetail -->
    <script type="text/javascript" src="{dir_path}/highslide/highslide-with-gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="{dir_path}/highslide/highslide.css" />
    <script type="text/javascript">
        hs.graphicsDir = '{dir_path}/highslide/graphics/';
        hs.align = 'center';
        hs.transitions = ['expand', 'crossfade'];
        hs.wrapperClassName = 'dark borderless floating-caption';
        hs.fadeInOut = true;
        hs.dimmingOpacity = .75;
        if (hs.addSlideshow)
            hs.addSlideshow({
                interval: 5000,
                repeat: false,
                useControls: true,
                fixedControls: 'fit',
                overlayOptions: {
                    opacity: .6,
                    position: 'bottom center',
                    hideOnMouseOut: true
                }
            });
    </script>
    <div class="padding-right-20">
        <h2 class="title-cat">{catname}</h2>
        <div class="c10"></div>
    </div>
    <div class="c10"></div>
    <div class="col-6-12" style="position:relative">

        <script type="text/javascript" src="{dir_path}/js/idangerous.swiper-2.1.min.js"></script>
        <link href="{dir_path}/css/cloudzoom.css" type="text/css" rel="stylesheet" />
        <link href="{dir_path}/css/idangerous.swiper.css" type="text/css" rel="stylesheet" />
        <div class="pro-image-detail" style="text-align:center; position:relative">
            <div style="width:100%;">
                <div style="width:100%;-webkit-flex: 1;-ms-flex: 1;  flex: 1; text-align:center">
                    <a href="{bigimage}" onclick="return hs.expand(this)" id="binh_zoom" >
                        <img src="{image}" id="binh_zoom_1"  style="max-width:100%; max-height:100%" class="" title="" alt="{name}"  />
                    </a>
                </div>
            </div>
            <div style="position:relative; width:100%; margin:0 auto" class="hide-on-mobile">
                <a href="#" class="fa fa-chevron-left thumb-prev"></a>
                <a href="#" class="fa fa-chevron-right thumb-next"></a>
            </div>
            <div style="width:90%; position:relative;margin:0px 20px" class="swiper-container">
                <div class="swiper-wrapper" style="height:66px; overflow:hidden">
                    <div class="swiper-slide">
                        <div class="title">
                            <img class="binh_zoom" src="{thumb_image}" data-image="{image}" data-bigimage="{bigimage}">
                        </div>
                    </div>
                    <!-- START BLOCK : slider_image -->
                    <div class="swiper-slide">
                        <div class="title">
                            <img class="binh_zoom" src="{thumb_image}" data-image="{image}" data-bigimage="{bigimage}">
                        </div>
                    </div>
                    <!-- END BLOCK : slider_image -->   
                </div>
                <div class="pagination"></div>
            </div>
       	</div>
        <script type = "text/javascript">
            var mySwiper = new Swiper('.swiper-container', {
                pagination: '.pagination',
                paginationClickable: true,
                slidesPerView: 6,
                speed: 750
            });

            $(function() {
                $('.binh_zoom').click(function() {
                    $('#binh_zoom').attr('href', $(this).attr('data-bigimage'));
                    $('#binh_zoom_1').attr('src', $(this).attr('data-image'));
                });
            });
        </script>
        <!-- end zoom -->
    </div>
    <div class="col-6-12">
        <h1 class="pro-detail-name">{name}</h1>
        <div style="font-weight:bold; font-size:14px; color:#393939" ><s>{pricekm}</s></div>
        <div class="price">{price}</div>
        <!-- START BLOCK : starrate -->
        <div style="display:none;">
        <div itemscope itemtype="http://schema.org/Product">
          <span itemprop="name">{name}</span>
          <img itemprop="image" src="{image}" alt="{name}" />
          <span itemprop="description">{description}
          </span>
         
          <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">{starrate}</span> stars, based on <span itemprop="reviewCount">{number_star}
              </span> reviews
          </span>
        </div>  
        </div>
        <!-- END BLOCK : starrate --> 
        <div class="c5"></div>
        <div class="pro-attr-detail" style="background:#F5F5F5; border:solid 1px #CCC; padding:10px;">
            <!-- START BLOCK : attr -->
            <div class="attr-item">
                <span class="attr-name">{attrname}:</span> <span class="attr-value">{attrvalue}</span>
                <div class="c"></div>
            </div>
            <!-- END BLOCK : attr -->     
        </div>
        <div class="c10"></div>
        <style>
        	.color_box{
				width:30px;
				height:30px;
				float:left;
				margin:2px;
				border:solid 1px #CCC;
				display:block;
				text-align:center;
				line-height:30px;
				color:#FFF;	
				text-shadow:1px 1px 1px #000;
				border:solid 3px #EEE;
			}
			.color-border{
				border:solid 3px #FF0000;	
			}
        </style>
        <div style="border:solid 1px #CCC; padding:10px;">
        	<div style="background:#92DE8D; padding:5px">
            	<input type="hidden" name="color" value="" id="selectedcolor" />
            	<div style="float:left; line-height:30px; font-weight:bold">Chọn màu:</div> 
                <!-- START BLOCK : color -->
            	<span class="color_box" style="background:{color}" rel="{color1}"></span>
                <!-- END BLOCK : color --> 
                <div class="c"></div>
            </div>
            <script>
            	$(function(){
					$('.color_box').click(function(){
						$('#selectedcolor').val($(this).attr('rel'));
						$('.color_box i').remove();
						$('.color_box').removeClass('color-border');
						var linkcart = $('#btn_order').attr('href');
						$('#btn_order').attr('href',linkcart + '?c1=' +$(this).attr('rel'));
						$(this).append('<i class="fa fa-check-square-o"></i>').addClass('color-border');
						
					});
				});
            </script>
            <div class="c5"></div>
            <a href="{linkcart}" class="btn-order outline-inward" id="btn_order">
                <i class="fa fa-shopping-cart hide-on-ipad" style="font-size:20px"></i><span >{btn_order}</span>
                <div>{btn_order_note}</div>
            </a>

        </div>

        <div class="c10"></div>
        {generalproduct}
        <div class="c5"></div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a> 
            <a class="addthis_counter addthis_pill_style"></a>

        </div>

        <!-- AddThis Button END -->
        <div class="c5"></div>
    </div>
    <div class="c10"></div>
    <div class="col-1-1">

        {muahangtuxa}
        <div class="c10"></div>
        <div class="tab-detail-pro" id="pro_tab_detail1">
            <a href="#pro_tab_detail1" class="pro_tab_detail1 active">Chi tiết sản phẩm</a>
            {tabname0}
        </div>
        <div class="content-detail" id="pro_detail">{content}</div>
        <div class="c10"></div>
        <div class="tab-detail-pro"  id="pro_tab_detail2">
            <a href="#pro_tab_detail1" class="pro_tab_detail1" >Chi tiết sản phẩm</a>
            {tabname01}
        </div>
        {contenttab0}
    </div>
    <div class="c10"></div>
    <div class="col-1-3">
        <div class="p-vanchuyen">
            <a href="{dir_path}/vanchuyen.html" class="trim facy-show-static">
                <i class="fa fa-truck"></i>{btn_vanchuyen_detail_pro}
                <div>{btn_vanchuyen_detail_pro_note}</div></a>
        </div>
    </div>
    <div class="col-1-3">
        <div class="p-thanhtoan ">
            <a href="{dir_path}/thanhtoan.html" class="trim facy-show-static">
                <i class="fa fa-credit-card"></i>{btn_payment_detail_pro}
                <div>{btn_payment_detail_pro_note}</div>
            </a>
        </div>
    </div>
    <div class="col-1-3">
        <div class="p-doitra ">
            <a href="{dir_path}/doitra.html" class="trim facy-show-static" target="_blank" >
                <i class="fa fa-refresh"></i>{btn_doitra_detail_pro}
                <div>{btn_doitra_detail_pro_note}</div>
            </a>
        </div>
    </div>
    <div class="c10"></div>

    
    
    
    
   

    <div class="c10"></div>
    <div class="padding-right-20">
        <h2 class="title-cat">{spcungloainame}</h2>
        <div class="c10"></div>
    </div>
    <div>
        <!-- START BLOCK : other_products -->
        <div class="col-1-4 mobile-col-1-4">
            <div class="image-pro-cell">
                {km}
                <div class="view-now">
                    <a href="{link_detail}" ><i class="fa fa-shopping-cart fa-2x"></i> Xem ngay</a>
                </div>
                <a href="{link_detail}" >{image}</a>
            </div>
            <h4 class="name-pro-cell"><a href="{link_detail}">{name}</a></h4>
            <div class="c5"></div>
            <div ><strong><s>{pricekm}</s></strong></div>
            <div class="price">{price}</div>
            <div class="intro-pro-cell">
                {ttkhuyenmai}
            </div>
        </div>{pc_break_50}{pc_break_30}{pc_break}
        <!-- END BLOCK : other_products --> 
    </div>

     <div class="col-1-1">
         {comment}
        
      </div>

    <!-- END BLOCK : proDetail --> 
    <div class="c5"></div>
</div>