<div class="col-9-12">
    <h2 class="title-cat">{catname}</h2>
    <div class="c20"></div>
 
      <!-- START BLOCK : videodetail -->
      <div id="playvideo">
        <div id="mediaplayer1" ></div>
        <!-- START BLOCK : youtube -->
        <iframe width="100%" height="430" src="http://www.youtube.com/embed/{videocode}?modestbranding=1&amp;fs=1&amp;rel=0" frameborder="0" allowfullscreen=""></iframe>
        <!-- END BLOCK : youtube --> 
        <!-- START BLOCK : localvideo -->
        <script type="text/javascript">jwplayer("mediaplayer1").setup({ flashplayer: "{dir_path}/js/player/player.swf",file: "{video}",image: "{image}", height: 500, width: '100%' {autostart} });</script>
        <!-- END BLOCK : localvideo --> 
      </div>
      <div class="c"></div>
      <div>
        <h1 class="catname" style="color:#333; font-size:18px;">{name}</h1>
        <div style="">{content}</div>
      </div>
      <div style="border-bottom:solid 1px #CCC"></div>
      <div class="c20"></div>
      <div> 
        <!-- START BLOCK : list1 -->
        <div  class="col-1-4 mobile-50 mobile-30">
          <div class="image"><a href="{link_detail}">{image}</a></div>
          <h3 class="news-name"><a href="{link_detail}">{name}</a></h3>
        </div>
        {pc_break_30}{mobile_break_50}{pc_break}
        <!-- END BLOCK : list1 -->
        <div class="c10"></div>
      </div>
      <!-- END BLOCK : videodetail --> 
 

</div>
